
body{
    font-family: Poppins,sans-serif;
    font-size: .875rem;
    font-weight: 300;
    background: linear-gradient(45deg, #28a79b, #0000007a) !important;
}
.logout{position: absolute;right:20px}
.mat-form-field{display: block;}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: red;
}
input{outline: none !important;height: auto;}.form-control:focus{border-color:none;box-shadow: none;}
.mat-form-field-label{top:2.28125em !important}
input.mat-input-element{height: auto !important;max-height: 20px !important;}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{    padding-bottom: 0.1em;}
.err-msg{color:red;font-size:13px}
footer{background-color: #ddd;color:#666;font-size: 14px;position: fixed;bottom: 0;width: 100%;}
footer .ul{list-style-type: none;}footer .ul li{float: left;padding-left: 15px;}
.fs-20{font-size: 20px;}
.navbar{position: fixed;top:0px;z-index: 999;width:100%}
.components-routes{overflow-y: auto;}
.page-wrapper{
    padding: 15px 10px;
    border-radius: 5px;
    min-height: calc(100% - 154px);
    max-height: calc(100% - 154px);
    /* overflow-y: auto; */
    /* margin: 0 10px; */
    width: 100%;
    position: absolute;
    left: 0;
    right:0;
    top: 72px;
}
.h-24{height:25px}