<table class="table table-striped table-bordered text-center">
    <thead class="">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Mail</th>
        <th scope="col">Phone</th>
        <th scope="col">Distric</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let i= index">
        <td>{{item.name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.mail}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.role}}</td>
        <td class="actions text-center">
            <i class="fas fa-trash" (click)="delete(i)"></i>&nbsp;<i class="fas fa-pen" (click)="edit(i)"></i>&nbsp;<i class="fas fa-eye" (click)="view(i)"></i>
        </td>
      </tr>
    </tbody>
  </table>

  {{fromParent}}
