.mat-form-field{display: block;}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: red;
}
input{outline: none !important;}.form-control:focus{border-color:none;box-shadow: none;}
.mat-form-field-label{top:2.28125em !important}
.reg-section{display: flex;
    align-items: center;
    justify-content: center;}
    .reg-section mat-card{width:40%}
.err-msg{display: block;color: red;margin-top: -14px; font-size: 12px;}